* {
    text-transform: capitalize;
}

.upper-bar .dropdown-list {
    position: relative;
}


.upper-bar .change_lang:hover,
.upper-bar .dropdown-list ul li:hover {    
    cursor: pointer;
    color: #ff800f;
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.upper-bar .dropdown-list .wrapper {
    position: relative;
    color: #696E77;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    display: none;
}

.upper-bar .dropdown-list ul {
    font-weight: bold;
    box-shadow: 0px 0px 9px 0px;
    background: white;
    border-radius: 6px;
    padding: 10px;
    width: 87px;
    height: 74px;
    text-align: center;
    list-style: none;
}


/* edit services and add detail overlay */

.services .service-item  .details-overlay{
    position: absolute;
    background: #ff800f;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    color: white;
    display: none;
}

.services .service-item .details-overlay .fa-times{
    padding: 10px;
    font-size: 21px;
    float: right;  /*edit in rtl*/
    cursor: pointer;
}

.services .service-item .details-overlay span {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    
}